<div class="login row">
    <form role="form" name="loginForm" id="loginForm" ng-submit="login(user)">
        <div class="form-group">
            <p>Welcome: {{user.account}}, {{user.password}}</p>
            <label for="account">Account: </label>
            <input type="text" id="account" placeholder="Enter Account/Email" class="form-control" required ng-model="user.account" />
        </div>
        <div class="form-group">
            <label for="password">Password: </label>
            <input type="password" placeholder="Password" id="password" class="form-control" required ng-model="user.password">
        </div>
        <button class="btn btn-default" type="submit" ng-disabled="loginForm.$invalid">Submit</button>
        <p>{{msgtxt}}</p>
    </form>
</div>